.container-form{
    margin-top: 40px;
    margin-right: 30px;
  }
.buttun-create{
    width: 120px;
    margin-top: 20px;
  }

.status{
    padding-right:25px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.status-label{
  padding-right:30px;
}