.center{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.main{
  background-color: white;
  color: black;
}
.main-header{
  font-family:  sans-serif;
}

.create-form label{
  color: black !important;
  font-family:  sans-serif;
  font-size: 12px !important;
}

 